#second-row-ex-details-modal{
    margin-top: 4%;
    margin-left: auto;
}

#first-row-ex-details-modal{
    margin-top: 4%;
    margin-left: auto;
}

#ex-name{
    font-size: 24px;
    margin-left: 34%;
    font-weight: 600;
}

#image_div{
    padding-left: 11%;
}

#ex-muscle{
    padding-left: 15%;
    font-size: 18px;
    margin-top:5%;
}

#ex-equipment{
    padding-left: 10%;
    font-size: 18px;
}

#ex-description{
    font-size: 16px;
    margin-top: 4%;
    padding-bottom: 5%;
}

#team-member-table{
    margin-top: 5%;
}

#team-dropdown{
    margin-left: 15%;
    margin-bottom: 1%;
    font-size: 16px;
}

#team-dropdown-ul{
    margin-left: 15%;
    margin-top: 4%;
}

#personal-checkbox{
    margin-left: 3%;
    margin-top: 8%;
}

#date-input{
    margin-left: 2%;
}

#send-workout-btn{
    margin-top: 10%;
    font-size: 24px;
}

#create-workout-btn-div{
    height: 100px;
    width: auto;
    background-color: #DEE5F1;
    margin-bottom: 25px;
}

#create-workout-btn{
    position:relative;
    top:20%; 
    left:45%;
    font-size: 30px;
}

.workout-details-btn{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-left: 10%;
}

.edit-ex-btn{
    background-color: #658AD3;
    font-weight: 700;
    font-size: 16px;
    margin-right: 4%;
    color: white;
}

.send-workout-btn{
    background-color: #658AD3;
    font-weight: 700;
    font-size: 16px;
    margin-right: 4%;
    color: white;
}

.delete-workout-btn{
    background-color: #fa616c;
    font-weight: 700;
    font-size: 16px;
    margin-right: 2%;
}

.header-tr{
    background-color: #92a8d1;
}

.workout-tr{
    background-color: #DEE5F1
}

#header{
    background-color: #034f84;
}

.brand-nav{
    color: aliceblue;
}

#login-btn{
    margin-top: 15px;
}

.nav-link{
    color: aliceblue !important;
    margin-top: 5px;
}

#table-container{
    overflow: scroll;
    height: auto;
}

#workout-list{
    height: auto;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}