.leave{
	padding-top:0;
    padding-bottom:0;
    height: 2.0em;
}


.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

#header{
    background-color: #034f84;
}
.brand-nav{
    color: aliceblue;
}
#login-btn{
    margin-top: 15px;
}

.nav-link{
    color: aliceblue !important;
    margin-top: 5px;
}
th{
    background-color: #92a8d1;
}