#create-exercise-button{
    font-size: 20px;
    margin-left: 10%;
}

.ex-creation-identifier{
    margin-left: 10%;
}

#ex-create-name{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
}

#ex-create-equip{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
}

#ex-create-description{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
}

#ex-create-muscle-group{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
}

#submit-new-exercise{
    margin-left: 36%;
    font-size: 20px;
}

.ex-input{
    text-align: right;
    width: 100px;
}

.ex-up-btn{
    padding-left: 2%;
}

.ex-down-btn{
    padding-left: 2%;
}

#first-row-ex-details-modal{
    margin-top: 4%;
    margin-left: auto;
}

#second-row-ex-details-modal{
    margin-top: 4%;
    margin-left: auto;
}

#ex-name{
    font-size: 24px;
    margin-left: 10%;
    font-weight: 600;
}

#image_div{
    padding-left: 11%;
}

#add-exercise-button{
    margin-left: 5%;
    font-size: 20px;
}

#ex-muscle{
    padding-left: 6%;
    font-size: 18px;
}

#ex-equipment{
    padding-left: 10%;
    font-size: 18px;
}

#ex-description{
    font-size: 16px;
    margin-top: 4%;
    padding-bottom: 5%;
}

.header-name{
    padding-left: 5%;
}

.header-muscle{
    padding-left: 24%;
}

.header-equip{
    padding-left: 4%;
}

.modal-list-muscle{
    padding-left: 20%;
    text-align: center;
}

.modal-list-equip{
    padding-left: 20%;
    text-align: center;
}

.modal-list-btn{
    margin-left: 4%;
    text-align: center;
}

.btn-delete-exercise{
    background-color: #fa616c;
    font-weight: 700;
}

#search-container{
    margin-top: 6%;
}

.brand-nav{
    color: aliceblue;
}

#login-btn{
    margin-top: 17%;
}

.nav-link{
    color: aliceblue !important;
    margin-top: 8%;
}

#muscle-dropdown{
    font-size: 20px;
    border-radius: 7px;
    margin-left: 2%;
}

#equipment-dropdown{
    font-size: 20px;
    border-radius: 7px;
    margin-left: 1%;
}

.header-tr{
    background-color: #92a8d1;
}

.ex-tr{
    background-color: #DEE5F1
}

#header{
    background-color: #034f84;
}

#ex-bar{
    height: 200px;
    width: auto;
    background-color: #DEE5F1;
    margin-bottom: 25px;
}

#table-container{
    overflow: scroll;
    height: auto;
}

#workout-name-div{
    padding-top: 40px;
    padding-left: 40px;
}
#workout-name{
    font-size: 45px;
    font-style: normal;
    margin-top: 20px;
}

#search-ex-label{
    font-size: 36px;
    padding-left: 6%;
}

#search-input-span{
    margin-left: 7%x;
}

#search-button{
    margin-left: 2%;
    font-size: 20px;
    border-color: #949597;
}

#save-workout-btn{
    font-size: 25px;
    margin-top: 14%;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

#exercise-list{
    height: auto;
}

#exercise-form{
    height: auto;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

