.caption {
	padding: 0 1rem 0 1rem !important;
}


.bubble-bordered {
	border: solid 0.5rem gray;
	border-radius: 1rem;
}

.progress {
	width: 200px;
	height: 200px;
	background: transparent;
	position: relative;
	box-shadow: none;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    margin: 0 auto;
	
}
.notowned{
	display: none;
}
.teamCell{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.highlight{
	background-color: #ffdddd;
}
.colCenter{
	margin: 0 auto;
}


.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}
#header{
    background-color: #034f84;
}
.brand-nav{
    color: aliceblue;
}
#login-btn{
    margin-top: 15px;
}

.nav-link{
    color: aliceblue !important;
    margin-top: 5px;
}
th{
    background-color: #92a8d1;
}
#send-workout, #addGoalBtn, #removeGoalBtn{
    background-color:#034f84
}