.hero_header {
	color: black;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	font-size: 35px;
}
/* Hero Section */
.hero {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
	background-image: url("../images/1g.gif");
}

.tagline {
	text-align: center;
	color: black;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
}

.navbar.fixed{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #000;
	z-index: 9999;
}

.page-header {
	margin: auto;
	padding: 0;
	border: 0;
	height: 15em;
	position: relative;
    background: #7F0000;
    background: url("./Game_Photos/backmain.jpg");/*no-repeat*/
    background-size: cover;
}

.page-header img {
	width: 20em;
	padding: 10px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.ha-bg-parallax {
	background: url(http://www.wallpaperawesome.com/wallpapers-awesome/wallpapers-cities-metropolis-monuments-palaces-architecture-churches-awesome/wallpaper-italy-florence-landscape.jpg) 50% -195px no-repeat fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	height: 300px;
	margin: 0 auto;
	width: 100%;
	display: table;
	vertical-align: middle;
}

#paralax_2 {
	background: url("../images/other.JPG") 50% -1200px no-repeat fixed;
}

.ha-bg-parallax .ha-parallax-body {
	display: table-cell;
	vertical-align: middle;
}

.ha-bg-parallax .ha-content-whitecolor {
	font-size: 17px;
	color: #ffffff;
	width: 45%;
	margin: auto;
}

.ha-bg-parallax .ha-diamond-divider-md {
	margin: 15px 0px;
}

.ha-bg-parallax .ha-heading-parallax {
	font-style: italic;
	font-weight: bold;
	text-transform: none;
	color: #ffffff;
	padding-bottom: 0px;
}

div.clear {
	clear: both;
}

div.product-chooser {}

div.product-chooser.disabled div.product-chooser-item {
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: default;
}

div.product-chooser div.product-chooser-item {
	padding: 11px;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	border: 1px solid #efefef;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10x;
}

div.product-chooser div.product-chooser-item.selected {
	border: 4px solid #428bca;
	background: #efefef;
	padding: 8px;
	filter: alpha(opacity=100);
	opacity: 1;
}

div.product-chooser div.product-chooser-item img {
	padding: 0;
}

div.product-chooser div.product-chooser-item span.title {
	display: block;
	margin: 10px 0 5px 0;
	font-weight: bold;
	font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description {
	font-size: 12px;
}

div.product-chooser div.product-chooser-item input {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}
/*3D Button Begin*/
.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#4274D7;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#4274D7;
}
/*3D Button End*/
.centered {
	text-align: center;
}



/*-- Navigation Widget --*/
#nav-widget {
    border: 0px;
    margin-bottom:20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
#nav-widget .btn-group:not(:first-child) {
    border-left: 1px solid #F5F0EC;
}
#nav-widget .btn{
    background-color: #fff;
    border: 0px;
    padding: 20px;
    font-weight: 600;
    border-bottom: 3px solid #fff;
}
#nav-widget .btn:hover {
    background-color: #F8F3F0;
    color: #64584C;
    border-bottom: 3px solid #55BC75;
}
#nav-widget i.fa {
    padding-right: 5px;
}
#nav-widget .badge {
    font-size: .7em;
    background-color: #E7663F;
    margin-left:4px;
    top: -10px;
}

@media only screen and (max-width: 767px) { /* phones */
    #nav-widget .btn {
        text-align: left;
    }
    #nav-widget .btn-group:not(:first-child) {
        margin: 0px;
        border-left: 0px;
        border-top: 1px solid #F5F0EC;
    }
    .btn-group>.btn {
        border-radius: 0;
    }
    .btn-group>.btn:last-child {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .btn-group-justified>.btn, .btn-group-justified>.btn-group {
        float: left;
        width: 100%;
    }
    .btn-group>.btn-group>.btn {
        border-radius: 0;
    }
    .btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
        margin-left: 0px;
    }
    .btn-group>.btn-group:first-child>.btn:last-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .btn-group>.btn-group:last-child>.btn:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}